CONFIG_CONSTRUCTORS=y

# Access Kernel build parameters from "/proc/config.gz"
CONFIG_IKCONFIG=m
CONFIG_IKCONFIG_PROC=y

# CONFIG_MODULE_COMPRESS_NONE is not set
CONFIG_MODULE_COMPRESS_XZ=y

# Rusty Goodness
# ==============
CONFIG_RUST=y
# CONFIG_RUST_DEBUG_ASSERTIONS is not set
CONFIG_RUST_OVERFLOW_CHECKS=y
# CONFIG_RUST_BUILD_ASSERT_ALLOW is not set
CONFIG_RUSTC_VERSION_TEXT="rustc 1.73.0 (cc66ad468 2023-10-03)"
CONFIG_BINDGEN_VERSION_TEXT="bindgen 0.69.1"
