[Unit]
Description=Noctalia Wayland shell
Documentation=https://noctalia.dev
PartOf=graphical-session.target
After=graphical-session.target
ConditionEnvironment=XDG_CURRENT_DESKTOP=niri

[Service]
Type=simple
ExecStart=%h/.local/bin/noctalia
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
