// Override the default layout to add an initial tab in the background running `btop`.

layout {
    cwd "$HOME"
    default_tab_template {
        //pane size=1 borderless=true { plugin location="zellij:tab-bar" }
        pane size=1 borderless=true {
            plugin location="file:~/.local/share/zellij/plugins/zjstatus.wasm" {
                format_left   "#[bg=#181926] {tabs}"
                format_center "#[bg=#181926,fg=#494d64] Zellij: {datetime}"
                format_right  "{swap_layout}#[bg=#181926,fg=#494d64] {mode}"
                format_space  "#[bg=#181926]"
                format_hide_on_overlength "true"
                format_precedence "lrc"
                border_enabled  "false"
                hide_frame_for_single_pane "false"
                mode_normal        "#[bg=#181926,fg=#a6da95]#[bg=#a6da95,fg=#181926,bold] {name} "
                mode_locked        "#[bg=#181926,fg=#6e738d]#[bg=#6e738d,fg=#181926,bold] {name} #[bg=#6e738d,fg=#8a140f] "
                mode_resize        "#[bg=#181926,fg=#8aadf4]#[bg=#8aadf4,fg=#181926,bold] {name} "
                mode_pane          "#[bg=#181926,fg=#8aadf4]#[bg=#8aadf4,fg=#181926,bold] {name} "
                mode_tab           "#[bg=#181926,fg=#8aadf4]#[bg=#8aadf4,fg=#181926,bold] {name} "
                mode_scroll        "#[bg=#181926,fg=#8aadf4]#[bg=#8aadf4,fg=#181926,bold] {name} "
                mode_enter_search  "#[bg=#181926,fg=#8aadf4]#[bg=#8aadf4,fg=#181926,bold] {name} "
                mode_search        "#[bg=#181926,fg=#8aadf4]#[bg=#8aadf4,fg=#181926,bold] {name} "
                mode_rename_tab    "#[bg=#181926,fg=#8aadf4]#[bg=#8aadf4,fg=#181926,bold] {name} "
                mode_rename_pane   "#[bg=#181926,fg=#8aadf4]#[bg=#8aadf4,fg=#181926,bold] {name} "
                mode_session       "#[bg=#181926,fg=#8aadf4]#[bg=#8aadf4,fg=#181926,bold] {name} "
                mode_move          "#[bg=#181926,fg=#8aadf4]#[bg=#8aadf4,fg=#181926,bold] {name} "
                mode_prompt        "#[bg=#181926,fg=#8aadf4]#[bg=#8aadf4,fg=#181926,bold] {name} "
                mode_tmux          "#[bg=#181926,fg=#f5a97f]#[bg=#f5a97f,fg=#181926,bold] {name} "
                // formatting for inactive tabs
                tab_normal              "#[bg=#181926,fg=#dddddd]#[bg=#dddddd,fg=#1e2030,bold] {index} #[bg=#dddddd,fg=#363a4f]#[bg=#363a4f,fg=#dddddd,bold] {name}{floating_indicator} #[bg=#181926,fg=#363a4f,bold]"
                tab_normal_fullscreen   "#[bg=#181926,fg=#dddddd]#[bg=#dddddd,fg=#1e2030,bold] {index} #[bg=#dddddd,fg=#363a4f]#[bg=#363a4f,fg=#dddddd,bold] {name}{fullscreen_indicator} #[bg=#181926,fg=#363a4f,bold]"
                tab_normal_sync         "#[bg=#181926,fg=#dddddd]#[bg=#dddddd,fg=#1e2030,bold] {index} #[bg=#dddddd,fg=#363a4f]#[bg=#363a4f,fg=#dddddd,bold] {name}{sync_indicator} #[bg=#181926,fg=#363a4f,bold]"
                // formatting for the current active tab
                tab_active              "#[bg=#181926,fg=#a3be8c]#[bg=#a3be8c,fg=#1e2030,bold] {index} #[bg=#a3be8c,fg=#363a4f]#[bg=#363a4f,fg=#a3be8c,bold] {name}{floating_indicator} #[bg=#181926,fg=#363a4f,bold]"
                tab_active_fullscreen   "#[bg=#181926,fg=#a3be8c]#[bg=#a3be8c,fg=#1e2030,bold] {index} #[bg=#a3be8c,fg=#363a4f]#[bg=#363a4f,fg=#a3be8c,bold] {name}{fullscreen_indicator}#[bg=#181926,fg=#363a4f,bold]"
                tab_active_sync         "#[bg=#181926,fg=#a3be8c]#[bg=#a3be8c,fg=#1e2030,bold] {index} #[bg=#a3be8c,fg=#363a4f]#[bg=#363a4f,fg=#a3be8c,bold] {name}{sync_indicator}#[bg=#181926,fg=#363a4f,bold]"
                // separator between the tabs
                tab_separator           "#[bg=#181926] "
                // indicators
                tab_sync_indicator       "  "
                tab_fullscreen_indicator " 󰊓 "
                tab_floating_indicator   " 󰹙 "
                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[fg=blue] {stdout} "
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"
                datetime        "#[bg=#181926,fg=#494d64,bold]{format}"
                datetime_format "%a, %e %b @ %H:%M"
                datetime_timezone "Europe/Amsterdam"
            }
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="System" {
        pane borderless=true {
            borderless true
            name "BTOP"
            cwd "/"
            command "btop"
        }
    }

    tab name="New Tab" focus=true {
        pane {
            focus true
            name "Pane #1"
        }
    }
}
