// Override the default layout to add an initial tab in the background running `btop`.

layout {
    cwd "$HOME"
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="System" {
        pane {
            borderless true
            name "BTOP"
            cwd "/"
            command "btop"
        }
    }

    tab name="Dotfiles" {
        pane {
            cwd "$HOME/.dotfiles"
            name "Dotfiles Repository"
        }
    }

    tab name="Nvim" {
        pane {
            cwd "$HOME/code"
            borderless true
            command "nvim"
            start_suspended true
        }
    }

    tab name="New Tab" focus=true {
        pane {
            focus true
            name "Pane #1"
        }
    }
}
