// If you'd like to override the default keybindings completely, be sure to change "keybinds" to "keybinds clear-defaults=true"
keybinds {
    // The ability to copy text is required EVERYWHERE.
    normal {
        bind "Alt c" { Copy; }
        bind "Ctrl Shift c" { Copy; }
    }
    shared_except "normal" {
        bind "Alt c" { Copy; }
        bind "Ctrl Shift c" { Copy; }
    }

    locked {
        bind "Ctrl Space" { SwitchToMode "Normal"; }
    }
    shared_except "locked" {
        bind "Ctrl Space" { SwitchToMode "Locked"; }
        bind "Ctrl q" { Quit; }
    }

    shared_except "normal" "locked" {
        bind "Enter" { SwitchToMode "Normal"; }
        bind "Esc" { SwitchToMode "Locked"; }
    }

    // Tmux mode is accessible from all places, including locked.
    // Trying to make it so that Tmux mode (the backtick) is the main way to
    // interact with Zellig (instead of Ctrl+? into modes).
    shared_except "tmux" {
        bind "`" { SwitchToMode "Tmux"; }
        // Keyboard Navigation
        bind "Alt h" "Alt Left" { MoveFocus "Left"; }
        bind "Alt l" "Alt Right" { MoveFocus "Right"; }
        bind "Alt j" "Alt Down" { MoveFocus "Down"; }
        bind "Alt k" "Alt Up" { MoveFocus "Up"; }
        bind "Ctrl Alt 1" { GoToTab 1; }
        bind "Ctrl Alt 2" { GoToTab 2; }
        bind "Ctrl Alt 3" { GoToTab 3; }
        bind "Ctrl Alt 4" { GoToTab 4; }
        bind "Ctrl Alt 5" { GoToTab 5; }
        bind "Ctrl Alt 6" { GoToTab 6; }
        bind "Ctrl Alt 7" { GoToTab 7; }
        bind "Ctrl Alt 8" { GoToTab 8; }
        bind "Ctrl Alt 9" { GoToTab 9; }
        // Pane Resizing
        bind "Alt =" "Alt +" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }
    }
    tmux {
        bind "Esc" { SwitchToMode "Locked"; }
        // Send an actual backtick to the terminal.
        bind "`" { Write 96; SwitchToMode "Locked"; }
        bind "Space" { SwitchToMode "Normal"; }
        // Scrolling (and Searching)
        bind "[" { SwitchToMode "Scroll"; }
        bind "PageUp" { SwitchToMode "Scroll"; PageScrollUp; }
        bind "s" { SwitchToMode "EnterSearch"; }
        // Pane Management
        bind "_" { NewPane "Down"; SwitchToMode "Locked"; }
        bind "|" { NewPane "Right"; SwitchToMode "Locked"; }
        bind "z" { ToggleFocusFullscreen; SwitchToMode "Locked"; }
        bind "Left" "h" { MoveFocus "Left"; SwitchToMode "Locked"; }
        bind "Right" "l" { MoveFocus "Right"; SwitchToMode "Locked"; }
        bind "Down" "j" { MoveFocus "Down"; SwitchToMode "Locked"; }
        bind "Up" "k" { MoveFocus "Up"; SwitchToMode "Locked"; }
        bind "x" { CloseFocus; SwitchToMode "Locked"; }
        // Tab Management
        bind "c" { NewTab; SwitchToMode "Locked"; }
        bind "r" { SwitchToMode "RenameTab"; }
        bind "1" { GoToTab 1; SwitchToMode "Locked"; }
        bind "2" { GoToTab 2; SwitchToMode "Locked"; }
        bind "3" { GoToTab 3; SwitchToMode "Locked"; }
        bind "4" { GoToTab 4; SwitchToMode "Locked"; }
        bind "5" { GoToTab 5; SwitchToMode "Locked"; }
        bind "6" { GoToTab 6; SwitchToMode "Locked"; }
        bind "7" { GoToTab 7; SwitchToMode "Locked"; }
        bind "8" { GoToTab 8; SwitchToMode "Locked"; }
        bind "9" { GoToTab 9; SwitchToMode "Locked"; }
        // Session Management
        bind "d" { Detach; }
    }


    resize {
        bind "Ctrl n" { SwitchToMode "Normal"; }
        bind "h" "Left" { Resize "Increase Left"; }
        bind "j" "Down" { Resize "Increase Down"; }
        bind "k" "Up" { Resize "Increase Up"; }
        bind "l" "Right" { Resize "Increase Right"; }
        bind "H" { Resize "Decrease Left"; }
        bind "J" { Resize "Decrease Down"; }
        bind "K" { Resize "Decrease Up"; }
        bind "L" { Resize "Decrease Right"; }
        bind "=" "+" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }
    }
    pane {
        bind "Ctrl p" { SwitchToMode "Normal"; }
        bind "h" "Left" { MoveFocus "Left"; }
        bind "l" "Right" { MoveFocus "Right"; }
        bind "j" "Down" { MoveFocus "Down"; }
        bind "k" "Up" { MoveFocus "Up"; }
        bind "p" { SwitchFocus; }
        bind "n" { NewPane; SwitchToMode "Normal"; }
        bind "d" { NewPane "Down"; SwitchToMode "Normal"; }
        bind "r" { NewPane "Right"; SwitchToMode "Normal"; }
        bind "x" { CloseFocus; SwitchToMode "Normal"; }
        bind "f" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
        bind "z" { TogglePaneFrames; SwitchToMode "Normal"; }
        bind "w" { ToggleFloatingPanes; SwitchToMode "Normal"; }
        bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "Normal"; }
        bind "c" { SwitchToMode "RenamePane"; PaneNameInput 0;}
    }
    move {
        bind "Ctrl h" { SwitchToMode "Normal"; }
        bind "n" "Tab" { MovePane; }
        bind "h" "Left" { MovePane "Left"; }
        bind "j" "Down" { MovePane "Down"; }
        bind "k" "Up" { MovePane "Up"; }
        bind "l" "Right" { MovePane "Right"; }
    }
    tab {
        bind "Ctrl t" { SwitchToMode "Normal"; }
        bind "r" { SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "h" "Left" "Up" "k" { GoToPreviousTab; }
        bind "l" "Right" "Down" "j" { GoToNextTab; }
        bind "n" { NewTab; SwitchToMode "Normal"; }
        bind "x" { CloseTab; SwitchToMode "Normal"; }
        bind "s" { ToggleActiveSyncTab; SwitchToMode "Normal"; }
        bind "1" { GoToTab 1; SwitchToMode "Normal"; }
        bind "2" { GoToTab 2; SwitchToMode "Normal"; }
        bind "3" { GoToTab 3; SwitchToMode "Normal"; }
        bind "4" { GoToTab 4; SwitchToMode "Normal"; }
        bind "5" { GoToTab 5; SwitchToMode "Normal"; }
        bind "6" { GoToTab 6; SwitchToMode "Normal"; }
        bind "7" { GoToTab 7; SwitchToMode "Normal"; }
        bind "8" { GoToTab 8; SwitchToMode "Normal"; }
        bind "9" { GoToTab 9; SwitchToMode "Normal"; }
        bind "Tab" { ToggleTab; }
    }
    scroll {
        bind "Ctrl s" { SwitchToMode "Normal"; }
        bind "e" { EditScrollback; SwitchToMode "Normal"; }
        bind "s" { SwitchToMode "EnterSearch"; SearchInput 0; }
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "Locked"; }
        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "Ctrl f" "PageDown" "Right" "l" { PageScrollDown; }
        bind "Ctrl b" "PageUp" "Left" "h" { PageScrollUp; }
        bind "Shift Up" "u" { HalfPageScrollUp; }
        bind "Shift Down" "d" { HalfPageScrollDown; }
    }
    search {
        bind "Ctrl s" { SwitchToMode "Locked"; }
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "Locked"; }
        bind "Up" "k" { ScrollUp; }
        bind "Down" "j" { ScrollDown; }
        bind "PageUp" "Ctrl b" "Left" "h" { PageScrollUp; }
        bind "PageDown" "Ctrl f" "Right" "l" { PageScrollDown; }
        bind "Shift Up" "u" { HalfPageScrollUp; }
        bind "Shift Down" "d" { HalfPageScrollDown; }
        bind "n" { Search "down"; }
        bind "p" "F3" { Search "up"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "w" { SearchToggleOption "Wrap"; }
        bind "o" { SearchToggleOption "WholeWord"; }
    }
    entersearch {
        bind "Ctrl c" "Esc" { SwitchToMode "Scroll"; }
        bind "Enter" { SwitchToMode "Search"; }
    }
    renametab {
        bind "Ctrl c" { SwitchToMode "Normal"; }
        bind "Esc" { UndoRenameTab; SwitchToMode "Tab"; }
    }
    renamepane {
        bind "Ctrl c" { SwitchToMode "Normal"; }
        bind "Esc" { UndoRenamePane; SwitchToMode "Pane"; }
    }
    session {
        bind "Ctrl o" { SwitchToMode "Normal"; }
        bind "Ctrl s" { SwitchToMode "Scroll"; }
        bind "d" { Detach; }
    }


    shared_except "pane" "locked" {
        bind "Ctrl p" { SwitchToMode "Pane"; }
    }
    shared_except "resize" "locked" {
        bind "Ctrl n" { SwitchToMode "Resize"; }
    }
    shared_except "scroll" "locked" {
        bind "Ctrl s" { SwitchToMode "Scroll"; }
    }
    shared_except "session" "locked" {
        bind "Ctrl o" { SwitchToMode "Session"; }
    }
    shared_except "tab" "locked" {
        bind "Ctrl t" { SwitchToMode "Tab"; }
    }
    shared_except "move" "locked" {
        bind "Ctrl h" { SwitchToMode "Move"; }
    }

    // Plugins
    shared_except "locked" {
        bind "Ctrl Shift f" {
            LaunchOrFocusPlugin "file:~/.local/share/zellij/plugins/monocle.wasm" {
                floating true
            };
            SwitchToMode "Normal"
        }
        bind "Ctrl Alt d" {
            LaunchOrFocusPlugin "file:~/.local/share/zellij/plugins/docker.wasm" {
                floating true
            }
            SwitchToMode "Normal"
        }
    }
}

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
}

// Choose what to do when zellij receives SIGTERM, SIGINT, SIGQUIT or SIGHUP
// eg. when terminal window with an active zellij session is closed
// Options:
//   - detach (Default)
//   - quit
//
// on_force_close "quit"

//  Send a request for a simplified ui (without arrow fonts) to plugins
//  Options:
//    - true
//    - false (Default)
//
// simplified_ui true

// Choose the path to the default shell that zellij will use for opening new panes
// Default: $SHELL
//
default_shell "bash"

// Toggle between having pane frames around the panes
// Options:
//   - true (default)
//   - false
//
// pane_frames true

// Define color themes for Zellij
// For more examples, see: https://github.com/zellij-org/zellij/tree/main/example/themes
// Once these themes are defined, one of them should to be selected in the "theme" section of this file
//
themes {
    dracula {
        fg 248 248 242
        bg 40 42 54
        red 255 85 85
        green 80 250 123
        yellow 241 250 140
        blue 98 114 164
        magenta 255 121 198
        orange 255 184 108
        cyan 139 233 253
        black 0 0 0
        white 255 255 255
    }
    nord {
        fg 216 222 233 // #D8DEE9
        bg 46 52 64 // #2E3440
        black 59 66 82 // #3B4252
        red 191 97 106 // #BF616A
        green 163 190 140 // #A3BE8C
        yellow 235 203 139 // #EBCB8B
        blue 129 161 193 // #81A1C1
        magenta 180 142 173 // #B48EAD
        cyan 136 192 208 // #88C0D0
        white 229 233 240 // #E5E9F0
        orange 208 135 112 // #D08770
    }
}

// Choose the theme that is specified in the themes section.
// Default: default
//
theme "nord"

// The name of the default layout to load on startup
// Default: "default"
//
default_layout "default"

// Choose the mode that zellij uses when starting up.
// Default: normal
//
default_mode "locked"

// Toggle enabling the mouse mode.
// On certain configurations, or terminals this could
// potentially interfere with copying text.
// Options:
//   - true (default)
//   - false
//
mouse_mode true

// Configure the scroll back buffer size
// This is the number of lines zellij stores for each pane in the scroll back
// buffer. Excess number of lines are discarded in a FIFO fashion.
// Valid values: positive integers
// Default value: 10000
//
// scroll_buffer_size 10000

// Provide a command to execute when copying text. The text will be piped to
// the stdin of the program to perform the copy. This can be used with
// terminal emulators which do not support the OSC 52 ANSI control sequence
// that will be used by default if this option is not set.
// Examples:
//
// copy_command "xclip -selection clipboard" // x11
// copy_command "wl-copy"                    // wayland
// copy_command "pbcopy"                     // osx

// Choose the destination for copied text
// Allows using the primary selection buffer (on x11/wayland) instead of the system clipboard.
// Does not apply when using copy_command.
// Options:
//   - system (default)
//   - primary
//
// copy_clipboard "primary"

// Enable or disable automatic copy (and clear) of selection when releasing mouse
// Default: true
//
copy_on_select false

// Path to the default editor to use to edit pane scrollbuffer
// Default: $EDITOR or $VISUAL
//
// scrollback_editor "/usr/bin/vim"

// When attaching to an existing session with other users,
// should the session be mirrored (true)
// or should each user have their own cursor (false)
// Default: false
//
// mirror_session true

// The folder in which Zellij will look for layouts
//
// layout_dir "/path/to/my/layout_dir"

// The folder in which Zellij will look for themes
//
// theme_dir "/path/to/my/theme_dir"

ui {
    pane_frames {
        rounded_corners true
        hide_session_name true
    }
}
