[Unit]
Description=Ollama Service
After=network-online.target

[Service]
ExecStart=ollama serve
Restart=always
RestartSec=3

Environment="OLLAMA_HOST=0.0.0.0"
Environment="OLLAMA_ORIGINS=http://localhost,https://ollama.test"

[Install]
WantedBy=default.target