[Desktop Entry]
Version=1.0
Type=Application
Name=T3 Code (Alpha)
Comment=T3 Code desktop build
TryExec=/home/zan/.local/bin/t3
Exec=/home/zan/.local/bin/t3 --no-sandbox %U
Icon=t3code
Terminal=false
StartupNotify=true
StartupWMClass=t3code
Categories=Development;
X-AppImage-Version=0.0.23
